@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: scroll;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color:hsl(217, 28%, 15%);
}

.bg-cover{
    background-color: hsl(218, 28%, 13%); 
    padding:40px;
    margin-top:30px;
}
.btnCta{
    background-color:  hsl(176, 68%, 64%);
}
.btn-width{
    width:15rem;
}
.linkWork{
    color:  hsl(176, 68%, 64%);
    text-decoration:underline;
}
.bg-testimonial{
    background-color:hsl(219, 30%, 18%);

}
.testimonal-para{
    font-size: 12px;
}
.quote{
    position: relative;
    top:20px;
}
.input{
    width:30rem;
    border:none;
    outline:none;
}
.btn-input{
    width:10rem;
}
.access-card{
    width: 50%;
    position:relative;
    top:60px;
}
::placeholder{
    padding-left:20px;
    font-size:12px;
}
.bg-footer{
    background-color: hsl(218, 28%, 13%);
    padding:90px;
}
.img-footer{
    margin-bottom:70px;
}
.footer-location{
    margin-left: 10px;
}
.footer-layout{
    display:grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    margin-left:70px;
}
.img-footer1{
    margin-top: 10px;
}
.border-radius{
    border-radius:50%;
    padding:5px;
    border:1px solid white;
}
.border-container{
    margin-left: 20px;
}


@media only screen and (max-width:600px){
    .para-group{
        padding-left:20px;
        margin-top:5px;
    }
    .heading-group{
        padding-left:20px;
        font-size:20px;
    }
    .arrow{
        font-size:12px;
        text-align: center;
        padding-left:20px;
    }
    .access-card{
        width:100%
    }
    .input{
        width:100%;
    }
    .btn-input{
        width:100%;
    }
    .input-div{
        display: flex;
        flex-direction: column;
    }
    .img-footer{
        margin-bottom:40px;
        width:30px;
        height:20px;
    }
    .footer-layout{
        display: flex;
        flex-direction: column;
        padding:0;
        margin:0;
    }
    
    .border-radius{
        margin-top:50px;
    }
    .socials{
        margin-top:40px;
        
    }
    .num-mail{
        margin-top:15px
    }
}

